@page
@model Veteries.Pages.Admin.Vets.IndexModel

<div class="border backgroundWhite container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-secondary">Veterinarians</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-page="Upsert" class="btn btn-secondary"><i class="fas fa-plus"></i> &nbsp; Add new</a>
        </div>
    </div>
    <br /><br />
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                    <a asp-page="Index" asp-route-sortOrder="@ViewData["OfficeSort"]">
                        @Html.DisplayNameFor(model => model.Veterinarians[0].OfficeName)
                    </a>
                </th>
                <th>
                    <a asp-page="Index" asp-route-sortOrder="@ViewData["FNameSort"]">
                        @Html.DisplayNameFor(model => model.Veterinarians[0].FirstName)
                    </a>
                </th>
                <th>
                    <a asp-page="Index" asp-route-sortOrder="@ViewData["LNameSort"]">
                        @Html.DisplayNameFor(model => model.Veterinarians[0].LastName)
                    </a>
                </th>
                <th>
                    <a asp-page="Index" asp-route-sortOrder="@ViewData["EmailSort"]">
                        @Html.DisplayNameFor(model => model.Veterinarians[0].EmailAddress)
                    </a>
                </th>
                <th>
                    <a asp-page="Index" asp-route-sortOrder="@ViewData["PhoneSort"]">
                        @Html.DisplayNameFor(model => model.Veterinarians[0].PhoneNumber)
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Veterinarians.Count == 0)
            {
                <tr>
                    <td colspan="6" class="text-center">No data found.</td>
                </tr>

            }
            else
            {
                foreach (var vet in Model.Veterinarians)
                {
                    <tr>
                        <td>@Html.DisplayFor(vetItem => vet.OfficeName)</td>
                        <td>@Html.DisplayFor(vetItem => vet.FirstName)</td>
                        <td>@Html.DisplayFor(vetItem => vet.LastName)</td>
                        <td>@Html.DisplayFor(vetItem => vet.EmailAddress)</td>
                        <td>@Html.DisplayFor(vetItem => vet.PhoneNumber)</td>
                        <td>
                            <div class="text-center">
                                <a asp-page="Upsert" asp-route-id="@vet.Id" class="btn btn-success text-white" style="cursor:pointer; width:100px">
                                    <i class="far fa-edit"></i> Edit
                                </a>
                                <button class="btn btn-danger text-white" style="cursor:pointer; width:100px" onclick="Delete(@vet.Id)">
                                    <i class="far fa-trash-alt"></i> Delete
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @{ 
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <a asp-page="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-sortOrder="@ViewData["CurrentSort"]" class="btn btn-secondary @prevDisabled">
        Previous
    </a>
    <a asp-page="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-sortOrder="@ViewData["CurrentSort"]" class="btn btn-secondary @nextDisabled">
        Next
    </a>

</div>

@section Scripts
{
    <script src="~/js/vets.js"></script>
}
